<!--<div class="container mt-5">-->
<!--  <h2 class="text-center text-danger mb-4">Bienvenue sur DIM 2 - Plateforme Ooredoo</h2>-->

<!--  <div class="row justify-content-center">-->
<!--    <ng-container *ngIf="hasPermission('users.read')">-->
<!--      <div class="col-md-3 mb-4">-->
<!--        <div class="card card-feature" (click)="navigateTo('users')">-->
<!--          <i class="fas fa-users fa-3x text-danger mt-3"></i>-->
<!--          <div class="card-body text-center">-->
<!--            <h5 class="card-title">Utilisateurs</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--    <ng-container *ngIf="hasPermission('roles.read')">-->
<!--      <div class="col-md-3 mb-4">-->
<!--        <div class="card card-feature" (click)="navigateTo('liste-roles')">-->
<!--          <i class="fas fa-user-shield fa-3x text-danger mt-3"></i>-->
<!--          <div class="card-body text-center">-->
<!--            <h5 class="card-title">Rôles</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Ajoute ici les autres blocs : dashboard, blacklist, historique, etc. &ndash;&gt;-->

<!--  </div>-->
<!--</div>-->
